name: Check Runner Disk Space

on:
  workflow_dispatch:

jobs:
  check-disk-space:
    strategy:
        fail-fast: false
        matrix:
          include:
            - runner: ubuntu-24.04
              platform: linux/amd64
            - runner: ubuntu-24.04-arm
              platform: linux/arm64
    runs-on: ${{ matrix.runner }}
    steps:
      - name: Show disk space (df -h)
        run: df -h

      - name: Show disk usage by top-level directories
        run: |
          echo "Top-level directory usage:"
          sudo du -h --max-depth=1 / | sort -hr | head -n 20

      - name: Show inode usage
        run: df -i
